<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Authorization</title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/default.css">
</head>

<body>
    <div id="container">
        <h1 title="You are authenticated as '{{ resourceOwnerId|e }}'">My API</h1>
        <div class="clientInfo">
            <h3 title="{{ clientId|e }}">{{ clientName|e }}</h3>
            <p class="clientDescription">
                {{ clientDescription|e }}
            </p>
        </div> <!-- /clientInfo -->

        <div class="clientPermissions">
          This application wants the following permissions:
          <ul>
              {% for scope in scopes %}
                <li><code>{{ scope|e }}</code></li>
              {% endfor %}
          </ul>
        </div> <!-- /clientScope -->

        {% if not sslEnabled %}
        <p class="warning">
            <strong>INSECURE</strong> connection to this service, TLS <strong>MUST</strong> be used!
            {% if contactEmail %}
                Please <a href="mailto:{{ contactEmail|e }}">inform</a> the application provider.
            {% endif %}
        </p>
        {% endif %}

        <form method="post" action="">
            <button class="reject" type="submit" name="approval" value="reject">Reject</button>
            <button class="approve" type="submit" name="approval" value="approve">Approve</button>
        </form>
    </div> <!-- /container -->
</body>
</html>
