<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Error [{{ statusCode|e }} - {{ statusReason|e }}]</title>
  <link rel="stylesheet" type="text/css" href="css/default.css">
</head>

<body>
  <div id="wrapper">
      <div id="container">
        <h3>Error</h3>
        <span class="mono">{{ statusCode|e }} - {{ statusReason|e }}</span>
        <div class="errorBox">
          <strong>ERROR</strong>: {{ errorMessage|e }}
        </div>
      </div><!-- /container -->
  </div><!-- /wrapper -->
</body>
</html>
